body{
    margin: 0;
    padding: 30px;
}

#header{

    background-color: burlywood;
}
#nav{
    height: 500px;
    background-color: lavender;
    padding: 50px;
}
#footer{
    height: 100px;
    background-color: #9bcaff;
}
 .floating{
     float: left;
 }
 #logo{
     width: 50%;
 }
 #cart{
     width: 20%;
 }
 #login{
     width: 30%;
 }
 #imgLogo{
     width: 50%;
 }
 #imgLogo img{
     max-width: 100%;

 }
 .product{
     width: 50%;
 }
 .prodImage:hover{
     height: 450px;
     width: 450px;
 }