body{
    margin: 0;

}
h2{
    font-weight: 100;
}
#header{
    background-color: burlywood;
    position: fixed;
    padding: 0px 50px;
}
#nav{
    background-color: lavender;
    padding: 50px;
    padding-top: 123px;
}
#footer{

    background-color: #9bcaff;
    position: fixed;
    width: 100%;
}
 .floating{
     float: left;
 }
 #logo{
     width: 50%;
 }
 #cart{
     width: 20%;
 }
 #login{
     width: 30%;
 }
 #imgLogo{
     width: 50%;
 }
 #imgLogo img{
     max-width: 100%;

 }
 .product{
     width: 50%;
 }
 .prodImage:hover{
     height: 450px;
     width: 450px;
 }

 .thitrythree{
     width: 33%;
 }